@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.register {
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top:200px;
     .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 30px;
      margin: 20px;
      display: flex;
      background-color: white;
    }
  }

  .section {
    background-color: white;
  }
  .registerTitle {
    display: flex;
    padding: 10px;
    margin-left: 30px;
    color:rgb(181, 182, 182);
  }
  
  .registerForm {
    margin-top: 10px;
  }
  
  .registerItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 

    input {
      width: 100%;
      padding: 5px;
      border: none;
      border-bottom: 1px solid gray;
    }

    label {
      color: gray;
      font-weight: 600;
      margin-bottom: 10px;
    }

  }
    
  .registerButton {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;    
  }

  .alreadyRegister{
    margin-left:20px;
  }

a, a:visited {
    color: rgb(156, 153, 153);
}

.offscreen {
    display:none
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}